--- 
layout: default 
--- 

{% for post in paginator.posts %}
<div class="mdl-card mdl-cell mdl-cell--12-col">
  <a href="{{ post.url | prepend: site.baseurl }}">
    <div class="mdl-card__media mdl-color-text--grey-50" style="background-image: url('{{ site.url }}/images/posts/{{ post.image }}'); height: 200px;">
      <h3>{{ post.title }}</h3>
    </div>
  </a>
  <div class="mdl-color-text--grey-600 mdl-card__supporting-text">
    {{ post.description }}
  </div>
  <div class="mdl-card__supporting-text meta mdl-color-text--grey-600">
    <div style="background-image: url('{{ site.url }}/images/{{ post.avatar }}');" class="minilogo"></div>
    <div>
      <span>{{ post.date | date: "%b %-d, %Y" }}</span>
      <strong>{{post.author}}</strong>
    </div>
  </div>
</div>
{% endfor %}

<!-- Pagination links -->
<nav class="oab-nav mdl-color-text--grey-50 mdl-cell mdl-cell--12-col">
  {% if paginator.previous_page %}
  <a href="{{ paginator.previous_page_path }}" class="oab-nav__button previous">
    <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon mdl-color--white mdl-color-text--grey-900" role="presentation">
      <i class="material-icons">arrow_back</i>
    </button>
    Newer
  </a>
  {% endif %}
  <div class="section-spacer"></div>
  {% if paginator.next_page %}
  <a href="{{ paginator.next_page_path }}" class="oab-nav__button">
    {% if paginator.previous_page %}Older{% else %}More{% endif %}
    <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon mdl-color--white mdl-color-text--grey-900" role="presentation">
      <i class="material-icons">arrow_forward</i>
    </button>
  </a>
  {% endif %}
</nav>